#background {
        background: radial-gradient(circle, #FFC0CB, #ADD8E6);  
    
}

p {
    color: #0077B6;
}

h5 {
    color: #0077B6;
}


h6 {
    color:  #0077B6;
}

span {
    color: #0077B6;
}